.square{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.856);
    border: solid rgba(0, 0, 0, 0.315) 1px;
    height: 60px;
    width: 60px;
}

.square .selectSquare{
    height: 60px;
    width: 60px;
    opacity: 0;
}

.moveFor{
    border: 0px;
    background-color: rgba(85, 14, 14, 0);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move{
    background-color: black;
    height: 25px;
    width: 25px;
    border-radius:50%;
    opacity: 20%;
}

.hidden{
    display: none;
}

.selected{
    border: solid red 2px;
    background-color: rgba(255, 0, 0, 0.562);
    transition: 500ms;
}